* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
	background-image: url("http://us.123rf.com/450wm/shutterboythailand/shutterboythailand1404/shutterboythailand140401082/27845550-iceland-flag-on-old-brick-wall.jpg");
	background-size: cover;
}

h1 {
	font-size: 50px;
	text-align: center;
	color: chartreuse;
	// font-size: 12vw;
}

.tabcontent__list{
	margin-left: 20px;
	width: 100%;

}

.tabcontent__tab {
    width: 24%;
    display: inline-block;
    vertical-align: top;
    font-size: medium;
    text-align: center;
    padding: 30px 0;
    color: #black;
    background: #d3d3d3;
    cursor: pointer;
		// margin-left: 5px;
		// margin-right: 5px;

}

.panel-heading{
	background-color: pink;

}
